html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #393E46 !important;
    overflow: hidden;
}


.style-wrapper {
    width: 640px;
    height: 360px;
    background-color: #393E46;
    border: 1px solid #F7F7F7;
    border-radius: 8px;
    padding: 24px;
    margin: 240px auto;

}

.style-container {
    background-color: #393E46;
    color: #F7F7F7;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 24px;
    width: 540px;
    height: 300px;

}

.style-title {
    font-size: 42px;
    padding: 20px;
    text-align: center;
}

.style-btn {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background-color: #393E46;
    color: #F7F7F7;
    padding: 5px 0;
    border: none;
    border: 1px solid #F7F7F7;
    border-radius: 8px;
}



.form p {
    margin: 0 auto;
    margin-bottom: 30px;
}

.form p label {
    width: 25%;
}

.form p input {
    width: 65%;
}