
{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container style-wrapper">
    <div class="card mt-5" style="width: 15rem;">
        <div class="card-header">Ikiningyou</div>
        <div class="card-body">
            <form class="form" role="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary styles-btn">Login</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}