
{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="style-wrapper" >
    <div class="style-wrapper">
        <div class="style-title">Login</div>
        <div class="style-form">
            <form class="form" role="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="style-btn">Login</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
