
{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="style-wrapper" >
    <div class="style-container">
        <div class="style-title">로그인</div>
        <div class="style-form card-body">
            <form class="form" role="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button type="submit" class="style-btn">로그인</button>
                    <a class="style-btn" href="https://www.ikiningyou.com/register/">회원가입</a>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
